In [1]:
import os
import pandas as pd
from IPython.display import IFrame
import folium
import seaborn as sns
import glob
import networkx as nx
import numpy as np

# reading and formatting the data

LAF = A weighted, sound level, measured in the files in db(A)
Lamax = Maximum sound level

In [2]:
loc='/Users/wentingjiang/Desktop/mda_kul_local/'

In [3]:
def read_noise_data(folder_path='export_40/'):
   # folder_path = 'export_40/'  # Replace with the path to your folder
    all_files = glob.glob(folder_path + "/*.csv")

    dfs = []
    for filename in all_files:
        data = pd.read_csv(filename, index_col=None, header=0, sep=';')

        data.loc[data['description'] == 'MP08bis - Vrijthof', 'description'] = 'MP 08: bis - Vrijthof'
        #data.loc[data['description'] == 'Naamsestraat 35  Maxim', 'description'] = 'MP 01: Naamsestraat 35 Maxim'

       #location_name = filename.split('.')[0].split('/')[-1].split('_')[-1]
       # print(location_name)
       # data['location']=location_name
        dfs.append(data)

    df_percentiled = pd.concat(dfs, axis=0, ignore_index=True)
    return df_percentiled

## Noise percentiled

In [6]:
# this data was not used for now
df_percentiled= read_noise_data(loc+'export_40/')

In [7]:
df_percentiled.head()

,#object_id,description,result_timestamp,laf005_per_hour,laf005_per_hour_unit,laf01_per_hour,laf01_per_hour_unit,laf05_per_hour,laf05_per_hour_unit,laf10_per_hour,...,laf90_per_hour,laf90_per_hour_unit,laf95_per_hour,laf95_per_hour_unit,laf98_per_hour,laf98_per_hour_unit,laf99_per_hour,laf99_per_hour_unit,laf995_per_hour,laf995_per_hour_unit
0,255439,MP 01: Naamsestraat 35 Maxim,07/03/2022 13:00:00.000,65.4,dB(A),64.0,dB(A),60.5,dB(A),58.0,...,47.4,dB(A),46.4,dB(A),45.2,dB(A),44.8,dB(A),44.0,dB(A)
1,255439,MP 01: Naamsestraat 35 Maxim,07/03/2022 14:00:00.000,72.2,dB(A),70.8,dB(A),65.8,dB(A),62.6,...,45.2,dB(A),43.9,dB(A),42.4,dB(A),41.4,dB(A),40.4,dB(A)
2,255439,MP 01: Naamsestraat 35 Maxim,07/03/2022 15:00:00.000,74.5,dB(A),72.2,dB(A),66.0,dB(A),63.5,...,48.6,dB(A),47.3,dB(A),45.8,dB(A),45.2,dB(A),44.5,dB(A)
3,255439,MP 01: Naamsestraat 35 Maxim,07/03/2022 16:00:00.000,72.0,dB(A),70.3,dB(A),65.0,dB(A),62.0,...,45.4,dB(A),43.8,dB(A),42.4,dB(A),41.5,dB(A),40.9,dB(A)
4,255439,MP 01: Naamsestraat 35 Maxim,07/03/2022 17:00:00.000,72.6,dB(A),71.2,dB(A),66.6,dB(A),63.6,...,45.5,dB(A),43.8,dB(A),42.3,dB(A),41.4,dB(A),40.7,dB(A)

In [8]:
def create_location_name_dict(df_percentiled):

    pair_dict = {p.split(': ')[0]: p.split(': ')[1] for p in df_percentiled['description']}
    return pair_dict

In [9]:
location_dict=create_location_name_dict(df_percentiled)
location_dict

{'MP 01': 'Naamsestraat 35  Maxim',
 'MP 03': 'Naamsestraat 62 Taste',
 'MP 05': 'Calvariekapel KU Leuven',
 'MP 06': 'Parkstraat 2 La Filosovia',
 'MP 08': 'bis - Vrijthof',
 'MP 02': 'Naamsestraat 57 Xior',
 'MP 07': 'Naamsestraat 81',
 'MP 04': 'His & Hears'}

In [10]:
def truncate_time_to_min(df):
    df['timestamp'] = df['result_timestamp'].str[:-7]
    
    df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')
    df['timestamp'] = df['timestamp'].dt.strftime('%Y-%m-%d %H:%M')
    
    return df.drop('result_timestamp', axis=1)

In [11]:
df_percentiled2 = truncate_time_to_min(df_percentiled)

In [12]:
def generate_noise_network_percentiled(df):
    """
    function unfinished
    """
    
# Create a graph with nodes representing monitoring stations
    G = nx.Graph()
    for station in df['description'].unique():
        G.add_node(station, name=station)

    # Add edges between nodes based on noise level correlations
    for station1 in df['description'].unique():
        for station2 in df['description'].unique():
            if station1 != station2:
                noise1 = df[df['description'] == station1]#['laf005_per_hour'].values
                noise2 = df[df['description'] == station2]#['laf005_per_hour'].values
                result = pd.merge(noise1, noise2, on='result_timestamp', how='inner')

                corr = np.corrcoef(result['laf005_per_hour_x'], result['laf005_per_hour_y'])[0,1]
                if corr > 0.8:
                    G.add_edge(station1, station2, weight=corr)

    # Use community detection algorithm to identify clusters
    communities = nx.community.greedy_modularity_communities(G)

    # Visualize the graph
    pos = nx.spring_layout(G)
    nx.draw(G, pos=pos, node_color=[communities.index(c) for n,c in nx.get_node_attributes(G,'community').items()], cmap='tab20')
    
    #generate_noise_network_percentiled(df_percentiled2)

## Noise level

In [13]:
loc+'export_42/**/'

'/Users/wentingjiang/Desktop/mda_kul_local/export_42/**/'

In [ ]:
# read noise data for a certain month

In [14]:
# read only december data for now

df_noise_level = read_noise_data(loc+'export_42/Dec/')

# change to loc+'export_42/**/' for reading all months, but the kernel will crash
# just read data for Dec for now

In [15]:
df_noise_level.head()

,#object_id,description,result_timestamp,lamax,lamax_unit,laeq,laeq_unit,lceq,lceq_unit,lcpeak,lcpeak_unit
0,255442,MP 05: Calvariekapel KU Leuven,01/12/2022 00:00:00.414,49.4,dB(A),45.9,dB(A),53.22,dB(C),63.83,dB(C)
1,255442,MP 05: Calvariekapel KU Leuven,01/12/2022 00:00:01.414,60.3,dB(A),55.9,dB(A),56.43,dB(C),70.38,dB(C)
2,255442,MP 05: Calvariekapel KU Leuven,01/12/2022 00:00:02.414,59.0,dB(A),55.8,dB(A),57.33,dB(C),74.70,dB(C)
3,255442,MP 05: Calvariekapel KU Leuven,01/12/2022 00:00:03.414,57.2,dB(A),50.8,dB(A),54.63,dB(C),71.53,dB(C)
4,255442,MP 05: Calvariekapel KU Leuven,01/12/2022 00:00:04.414,55.4,dB(A),51.3,dB(A),56.30,dB(C),70.73,dB(C)

In [16]:
df_noise_level.shape

(19511735, 11)

In [16]:
# there are 8 locations
df_noise_level['description'].unique()

array(['MP 05: Calvariekapel KU Leuven', 'MP 01: Naamsestraat 35  Maxim',
       'MP 04: His & Hears', 'MP 08: bis - Vrijthof',
       'MP 03: Naamsestraat 62 Taste', 'MP 02: Naamsestraat 57 Xior',
       'MP 07: Naamsestraat 81', 'MP 06: Parkstraat 2 La Filosovia'],
      dtype=object)

In [17]:
#test = df_noise_level.copy()
#test['timestamp'] = test['result_timestamp'].str[:-12]
#test.timestamp.unique()

In [17]:
def get_average_noise_level_per_min(df_noise_level):
    
    # reduce to min precision 
    df_noise_level['timestamp'] = df_noise_level['result_timestamp'].str[:-7]
    
    df_noise_level_min=df_noise_level.groupby(['description', 'timestamp'])['lamax'].mean().reset_index()
    
    print(df_noise_level_min.groupby('description').count())
    
    df_noise_level_min_wide = pd.pivot_table(df_noise_level_min, values='lamax', index='timestamp', columns='description')

    # some locations have more timestamps, make them equal length of time stamp
  #  df_noise_level_min_clean = df_noise_level_min_wide.reset_index().dropna()
    df_noise_level_min_clean = df_noise_level_min_wide.reset_index()
    
    # locations have high corr for the noise level
    # print(df_noise_level_min_clean.corr())
    
    # make the precision to minute level (double check later if this is sufficient)
    df_noise_level_min_clean['timestamp'] = pd.to_datetime(df_noise_level_min_clean['timestamp'], errors='coerce')
    df_noise_level_min_clean['timestamp'] = df_noise_level_min_clean['timestamp'].dt.strftime('%Y-%m-%d %H:%M')
    
    return df_noise_level_min_clean

In [18]:
def get_max_noise_level_per_min(df_noise_level):
    
    '''
    new function, use max instead of mean
    '''
    
    # reduce to min precision 
    df_noise_level['timestamp'] = df_noise_level['result_timestamp'].str[:-7]
    
    df_noise_level_min=df_noise_level.groupby(['description', 'timestamp'])['lamax'].max().reset_index()
    
    print(df_noise_level_min.groupby('description').count())
    
    df_noise_level_min_wide = pd.pivot_table(df_noise_level_min, values='lamax', index='timestamp', columns='description')

    # some locations have more timestamps, make them equal length of time stamp
  #  df_noise_level_min_clean = df_noise_level_min_wide.reset_index().dropna()
    df_noise_level_min_clean = df_noise_level_min_wide.reset_index()
    
    # locations have high corr for the noise level
    # print(df_noise_level_min_clean.corr())
    
    # make the precision to minute level (double check later if this is sufficient)
    df_noise_level_min_clean['timestamp'] = pd.to_datetime(df_noise_level_min_clean['timestamp'], errors='coerce')
    df_noise_level_min_clean['timestamp'] = df_noise_level_min_clean['timestamp'].dt.strftime('%Y-%m-%d %H:%M')
    
    return df_noise_level_min_clean

In [19]:
df_noise_mean=get_max_noise_level_per_min(df_noise_level)

                                  timestamp  lamax
description
MP 01: Naamsestraat 35  Maxim         30282  30282
MP 02: Naamsestraat 57 Xior           29069  29069
MP 03: Naamsestraat 62 Taste          44640  44640
MP 04: His & Hears                    44640  44640
MP 05: Calvariekapel KU Leuven        44640  44640
MP 06: Parkstraat 2 La Filosovia      44640  44640
MP 07: Naamsestraat 81                42749  42749
MP 08: bis - Vrijthof                 44640  44640

In [20]:
df_noise_mean.head()

description,timestamp,MP 01: Naamsestraat 35 Maxim,MP 02: Naamsestraat 57 Xior,MP 03: Naamsestraat 62 Taste,MP 05: Calvariekapel KU Leuven,MP 06: Parkstraat 2 La Filosovia,MP 07: Naamsestraat 81,MP 08: bis - Vrijthof
0,2022-01-07 00:00,55.053333,54.551667,59.061667,47.128333,46.220000,42.021667,46.626667
1,2022-01-07 00:01,55.851667,49.035000,54.586667,53.373333,50.701667,51.690000,45.803333
2,2022-01-07 00:02,56.543333,50.398333,54.528333,51.421667,53.318333,44.616667,45.496667
3,2022-01-07 00:03,52.256667,46.713333,52.606667,52.250000,53.681667,53.503333,46.746667
4,2022-01-07 00:04,55.598333,51.298333,58.471667,60.530000,61.781667,58.000000,45.343333

In [24]:
df_noise_mean.to_csv('max_noise_per_minute_per_location.csv')

In [23]:
# still need to remove NaNs
df_noise_mean.isna().sum()

description
timestamp                           27360
MP 01: Naamsestraat 35  Maxim       14358
MP 02: Naamsestraat 57 Xior         15571
MP 03: Naamsestraat 62 Taste            0
MP 04: His & Hears                      0
MP 05: Calvariekapel KU Leuven          0
MP 06: Parkstraat 2 La Filosovia        0
MP 07: Naamsestraat 81               1891
MP 08: bis - Vrijthof                   0
dtype: int64

## Noise events

In [25]:
df_noise_events = read_noise_data(loc+'export_41/')

In [26]:
import datetime as dt

In [27]:
df_noise_events2 =truncate_time_to_min(df_noise_events)

In [41]:
df_noise_events2.head()

,#object_id,description,noise_event_laeq_model_id,noise_event_laeq_model_id_unit,noise_event_laeq_primary_detected_certainty,noise_event_laeq_primary_detected_certainty_unit,noise_event_laeq_primary_detected_class,noise_event_laeq_primary_detected_class_unit,timestamp
0,255444,MP 07: Naamsestraat 81,NaN,NaN,NaN,%,NaN,NaN,2022-01-01 00:02
1,255444,MP 07: Naamsestraat 81,NaN,NaN,NaN,%,NaN,NaN,2022-01-01 00:03
2,255444,MP 07: Naamsestraat 81,NaN,NaN,NaN,%,NaN,NaN,2022-01-01 01:27
3,255444,MP 07: Naamsestraat 81,NaN,NaN,NaN,%,NaN,NaN,2022-01-01 01:28
4,255444,MP 07: Naamsestraat 81,NaN,NaN,NaN,%,NaN,NaN,2022-01-01 01:29

In [28]:
def print_na_percent(df):
    print(df.isna().sum()/df.shape[0])

In [29]:
print_na_percent(df_noise_events)

#object_id                                          0.000000
description                                         0.000000
result_timestamp                                    0.000000
noise_event_laeq_model_id                           0.047153
noise_event_laeq_model_id_unit                      1.000000
noise_event_laeq_primary_detected_certainty         0.047153
noise_event_laeq_primary_detected_certainty_unit    0.000000
noise_event_laeq_primary_detected_class             0.047153
noise_event_laeq_primary_detected_class_unit        1.000000
timestamp                                           0.626308
dtype: float64

In [30]:
def remove_noise_undetected(df):
    #print() how many removed
    return df[~df['noise_event_laeq_primary_detected_certainty'].isna()]

In [31]:
df_noise_events_detected=remove_noise_undetected(df_noise_events2)
df_noise_events_detected.shape

(77234, 9)

In [43]:
df_noise_events_detected.isna().sum()

#object_id                                              0
description                                             0
noise_event_laeq_model_id                               0
noise_event_laeq_model_id_unit                      77234
noise_event_laeq_primary_detected_certainty             0
noise_event_laeq_primary_detected_certainty_unit        0
noise_event_laeq_primary_detected_class                 0
noise_event_laeq_primary_detected_class_unit        77234
timestamp                                           48480
dtype: int64

In [32]:
df_noise_events_detected.groupby('noise_event_laeq_primary_detected_class').count()
# there are a lot of noise event not categorized in a group

,#object_id,description,noise_event_laeq_model_id,noise_event_laeq_model_id_unit,noise_event_laeq_primary_detected_certainty,noise_event_laeq_primary_detected_certainty_unit,noise_event_laeq_primary_detected_class_unit,timestamp
noise_event_laeq_primary_detected_class,,,,,,,,
Human voice - Shouting,5742,5742,5742,0,5742,5742,0,2320
Human voice - Singing,1082,1082,1082,0,1082,1082,0,620
Music non-amplified,126,126,126,0,126,126,0,40
Nature elements - Wind,113,113,113,0,113,113,0,48
Transport road - Passenger car,47388,47388,47388,0,47388,47388,0,16704
Transport road - Siren,1992,1992,1992,0,1992,1992,0,805
Unsupported,20791,20791,20791,0,20791,20791,0,8217

In [58]:
df_noise_events_detected['description'].unique()
# only 7 location as well

array(['MP 07: Naamsestraat 81', 'MP 06: Parkstraat 2 La Filosovia',
       'MP 02: Naamsestraat 57 Xior', 'MP 03: Naamsestraat 62 Taste',
       'MP 01: Naamsestraat 35  Maxim', 'MP 08: bis - Vrijthof',
       'MP 05: Calvariekapel KU Leuven'], dtype=object)

In [57]:
df_noise_type = df_noise_events_detected.groupby(['description',
                                      'timestamp',
        'noise_event_laeq_primary_detected_class']).count().reset_index()

In [52]:
df_noise_filter = df_noise_type[['description', 'timestamp', 'noise_event_laeq_primary_detected_class',
       '#object_id']]
df_noise_filter.columns =['location', 'timestamp', 'event', 'count']
#df_noise_filter.to_csv('noise_events_count.csv')

In [53]:
df_noise_mean.head()

description,timestamp,MP 01: Naamsestraat 35 Maxim,MP 02: Naamsestraat 57 Xior,MP 03: Naamsestraat 62 Taste,MP 04: His & Hears,MP 05: Calvariekapel KU Leuven,MP 06: Parkstraat 2 La Filosovia,MP 07: Naamsestraat 81,MP 08: bis - Vrijthof
0,2022-01-12 00:00,82.5,79.3,63.7,67.9,64.5,74.6,67.0,51.0
1,2022-01-12 00:01,80.3,72.7,74.8,76.0,73.9,74.6,65.5,55.5
2,2022-01-12 00:02,71.8,79.6,66.0,71.7,86.3,71.0,64.3,44.9
3,2022-01-12 00:03,72.0,64.7,67.2,78.2,72.0,68.3,69.2,47.0
4,2022-01-12 00:04,66.9,73.6,72.2,64.7,77.5,76.5,63.8,53.1

## Join noise level and events data

In [62]:
noise_level_long_df = pd.melt(df_noise_mean, id_vars='timestamp', value_vars=[
    'MP 01: Naamsestraat 35  Maxim',
    'MP 02: Naamsestraat 57 Xior',
    'MP 03: Naamsestraat 62 Taste',
    'MP 04: His & Hears',
    'MP 05: Calvariekapel KU Leuven',
    'MP 06: Parkstraat 2 La Filosovia',
    'MP 07: Naamsestraat 81',
    'MP 08: bis - Vrijthof'
], var_name='location', value_name='noise_level')
noise_level_long_df.head()

          timestamp                       location  noise_level
0  2022-01-12 00:00  MP 01: Naamsestraat 35  Maxim         82.5
1  2022-01-12 00:01  MP 01: Naamsestraat 35  Maxim         80.3
2  2022-01-12 00:02  MP 01: Naamsestraat 35  Maxim         71.8
3  2022-01-12 00:03  MP 01: Naamsestraat 35  Maxim         72.0
4  2022-01-12 00:04  MP 01: Naamsestraat 35  Maxim         66.9

In [68]:
# merge noise events type to the minute level noise level
merged_df = noise_level_long_df.merge(df_noise_filter, on=['location','timestamp'], how='left')

In [69]:
merged_df.shape

(357206, 5)

In [72]:
merged_df['count'] = merged_df['count'].fillna(0)
merged_df['event'] = merged_df['event'].fillna('None')
# it could be that at a certain minute, there are multiple events, ignore this for now
merged_df.head()

,timestamp,location,noise_level,event,count
0,2022-01-12 00:00,MP 01: Naamsestraat 35 Maxim,82.5,Unsupported,1.0
1,2022-01-12 00:01,MP 01: Naamsestraat 35 Maxim,80.3,Transport road - Passenger car,1.0
2,2022-01-12 00:02,MP 01: Naamsestraat 35 Maxim,71.8,None,0.0
3,2022-01-12 00:03,MP 01: Naamsestraat 35 Maxim,72.0,None,0.0
4,2022-01-12 00:04,MP 01: Naamsestraat 35 Maxim,66.9,None,0.0

In [75]:
merged_df_ready = merged_df.copy()

# Add datetime features

In [76]:
# Convert the timestamp column to a datetime object
merged_df_ready['timestamp'] = pd.to_datetime(merged_df_ready['timestamp'])

# Create new columns for hour and day of the week
merged_df_ready['hour'] = merged_df_ready['timestamp'].dt.hour
merged_df_ready['day_of_week'] = merged_df_ready['timestamp'].dt.day_name()

# only include the time after 18:00, as Leuven is interested in understanding noise at night
#merged_df_ready_small=merged_df_ready[merged_df_ready['hour']>=18]
#merged_df_ready_small=pd.get_dummies(merged_df_ready_small)

In [77]:
merged_df_ready.head()

,timestamp,location,noise_level,event,count,hour,day_of_week
0,2022-01-12 00:00:00,MP 01: Naamsestraat 35 Maxim,82.5,Unsupported,1.0,0.0,Wednesday
1,2022-01-12 00:01:00,MP 01: Naamsestraat 35 Maxim,80.3,Transport road - Passenger car,1.0,0.0,Wednesday
2,2022-01-12 00:02:00,MP 01: Naamsestraat 35 Maxim,71.8,None,0.0,0.0,Wednesday
3,2022-01-12 00:03:00,MP 01: Naamsestraat 35 Maxim,72.0,None,0.0,0.0,Wednesday
4,2022-01-12 00:04:00,MP 01: Naamsestraat 35 Maxim,66.9,None,0.0,0.0,Wednesday

# Add weather features

In [79]:
folder='/Users/wentingjiang/Desktop/mda_kul_local/'

In [89]:
df_weather=pd.read_csv(folder+'LC_2022Q3.csv') # read only the last quarter day for now
df_meta= pd.read_csv(folder+'01_Metadata_v2.csv')
df = df_weather.merge(df_meta, on='ID', how='left')

weather_sample=df[df['ID']=='LC-002']
#weather_sample_filter = weather_sample[['DATEUTC', 'LC_HUMIDITY', 'LC_DWPTEMP', 'LC_n', 'LC_RAD',
#       'LC_RAININ', 'LC_DAILYRAIN', 'LC_WINDDIR', 'LC_WINDSPEED']]
#weather_sample_filter.head()

Metadata.csv: 
	ID = Station's ID (ex. LC-XXX) [-]
	LAT = latitute (rounded to 3 decimals for privacy reasons) [-]
	LON = longitude (rounded to 3 decimals for privacy reasons) [-]
	ALT = altitude above sea level [m]
	LCZ = local climate zone [-]. For details: see accompanying publictation.
	LC = main landcover directly around weather station (0 = impervious/1= green) [-]
	building_height = mean building height in circular buffer 10m around weather station [m]
	SVF = mean sky view factor in circular buffer 10m around weather station [-]
	installation_height = installation height of weather station [m]
    
LC_YYYYQX.csv: 
DATEUTC = Date and time (UTC) in POSIXct format: YYYY-MM-DD HH:MM:SS
ID = Station's ID (ex. LC-XXX) [-]
LC_HUMIDITY = Relative humidity [%]
LC_DWPTEMP = Dew point temperature [âˆžC]
LC_n = Number of 16 second observations in 10 minutes aggregate
LC_RAD = Solar radiation [W/m2]
LC_RAININ = Rain intensity [mm/h]
LC_DAILYRAIN = Daily rain sum [mm]
LC_WINDDIR = Wind direction [âˆž]
LC_WINDSPEED = Wind speed [m/s]
Date = Date in YYYY-MM-DD
Year = Year in YYYY
Month = Month in MM
Day = Day in DD
Hour = Hour in HH
Minute = Minute in MM
LC_RAD60 = Weighted radiation during last 60 minutes [W/m2]
LC_TEMP_QCL0 = Temperature at QCL0 [âˆžC]
LC_TEMP_QCL1 = Temperature at QCL1 [âˆžC]
LC_TEMP_QCL2 = Temperature at QCL2 [âˆžC]
LC_TEMP_QCL3 = Temperature at QCL3 [âˆžC]

In [130]:
feature_names_simplified = {'DATEUTC': 'timestamp_10min',
                            'LC_HUMIDITY': 'humidity', 'LC_DWPTEMP': 'temp', 'LC_RAD': 'solar_radiation',
                'LC_RAININ': 'rain_intensity', 'LC_DAILYRAIN': 'daily_rain_sum', 'LC_WINDDIR': 'wind_dir',
                 'LC_WINDSPEED': 'wind_speed', 'LAT': 'lat', 'LON': 'lon', 'ALT': 'alt', 'LCZ': 'climate_zone',
                 'LC': 'green_cover', 'building_height': 'building_height', 'SVF': 'sky_view_factor',
                 'installation_height': 'installation_height'
                }

In [131]:
weather_sample_renamed = weather_sample.rename(columns=feature_names_simplified).drop('ID', axis=1)
weather_sample_renamed.head()

,timestamp_10min,humidity,temp,LC_n,solar_radiation,rain_intensity,daily_rain_sum,wind_dir,wind_speed,Date,...,LC_TEMP_QCL2,LC_TEMP_QCL3,lat,lon,alt,climate_zone,green_cover,building_height,sky_view_factor,installation_height
0,2022-07-01 00:10:00,99.0,11.39,38.0,0.0,0.0,0.0,0.0,0.0,2022-07-01,...,11.4415,11.763749,50.847,4.756,47,9,1,4.28,0.610367,2
1,2022-07-01 00:20:00,99.0,11.30,37.0,0.0,0.0,0.0,0.0,0.0,2022-07-01,...,11.3415,11.704814,50.847,4.756,47,9,1,4.28,0.610367,2
2,2022-07-01 00:30:00,99.0,11.08,38.0,0.0,0.0,0.0,0.0,0.0,2022-07-01,...,11.1215,11.403980,50.847,4.756,47,9,1,4.28,0.610367,2
3,2022-07-01 00:40:00,99.0,10.78,37.0,0.0,0.0,0.0,0.0,0.0,2022-07-01,...,10.8215,11.094020,50.847,4.756,47,9,1,4.28,0.610367,2
4,2022-07-01 00:50:00,99.0,10.44,38.0,0.0,0.0,0.0,0.0,0.0,2022-07-01,...,10.4915,10.721889,50.847,4.756,47,9,1,4.28,0.610367,2

In [106]:
weather_sample_renamed.columns

Index(['timestamp', 'humidity', 'temp', 'LC_n', 'solar_radiation',
       'rain_intensity', 'daily_rain_sum', 'wind_dir', 'wind_speed', 'Date',
       'Year', 'Month', 'Day', 'Hour', 'Minute', 'LC_RAD60', 'LC_TEMP_QCL0',
       'LC_TEMP_QCL1', 'LC_TEMP_QCL2', 'LC_TEMP_QCL3', 'lat', 'lon', 'alt',
       'climate_zone', 'green_cover', 'building_height', 'sky_view_factor',
       'installation_height'],
      dtype='object')

# Merge noise and weather data

In [129]:
df = merged_df_ready.copy()
df2 = df[~df['timestamp'].isna()]
df2['timestamp_round'] = df2['timestamp'].dt.floor('10min').dt.strftime('%Y-%m-%d %H:%M')
df2.head()

/var/folders/ps/310fvxcx6y55_xvdkg77780h0000gn/T/ipykernel_53534/1975377647.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['timestamp_round'] = df2['timestamp'].dt.floor('10min').dt.strftime('%Y-%m-%d %H:%M')

,timestamp,location,noise_level,event,count,hour,day_of_week,timestamp_round
0,2022-01-12 00:00:00,MP 01: Naamsestraat 35 Maxim,82.5,Unsupported,1.0,0.0,Wednesday,2022-01-12 00:00
1,2022-01-12 00:01:00,MP 01: Naamsestraat 35 Maxim,80.3,Transport road - Passenger car,1.0,0.0,Wednesday,2022-01-12 00:00
2,2022-01-12 00:02:00,MP 01: Naamsestraat 35 Maxim,71.8,None,0.0,0.0,Wednesday,2022-01-12 00:00
3,2022-01-12 00:03:00,MP 01: Naamsestraat 35 Maxim,72.0,None,0.0,0.0,Wednesday,2022-01-12 00:00
4,2022-01-12 00:04:00,MP 01: Naamsestraat 35 Maxim,66.9,None,0.0,0.0,Wednesday,2022-01-12 00:00

In [141]:

weather_sample_renamed['timestamp_10min'] = pd.to_datetime(weather_sample_renamed['timestamp_10min'])
df2['timestamp_round'] = pd.to_datetime(df2['timestamp_round'])

/var/folders/ps/310fvxcx6y55_xvdkg77780h0000gn/T/ipykernel_53534/1381256256.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['timestamp_round'] = pd.to_datetime(df2['timestamp_round'])

In [142]:
merged_df_final = pd.merge(df2, weather_sample_renamed, left_on='timestamp_round', right_on='timestamp_10min', how='left')
merged_df_final

,timestamp,location,noise_level,event,count,hour,day_of_week,timestamp_round,timestamp_10min,humidity,...,LC_TEMP_QCL2,LC_TEMP_QCL3,lat,lon,alt,climate_zone,green_cover,building_height,sky_view_factor,installation_height
0,2022-01-12 00:00:00,MP 01: Naamsestraat 35 Maxim,82.5,Unsupported,1.0,0.0,Wednesday,2022-01-12 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-01-12 00:01:00,MP 01: Naamsestraat 35 Maxim,80.3,Transport road - Passenger car,1.0,0.0,Wednesday,2022-01-12 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-01-12 00:02:00,MP 01: Naamsestraat 35 Maxim,71.8,None,0.0,0.0,Wednesday,2022-01-12 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-12 00:03:00,MP 01: Naamsestraat 35 Maxim,72.0,None,0.0,0.0,Wednesday,2022-01-12 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-01-12 00:04:00,MP 01: Naamsestraat 35 Maxim,66.9,None,0.0,0.0,Wednesday,2022-01-12 00:00:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138321,2022-12-12 23:55:00,MP 08: bis - Vrijthof,47.9,None,0.0,23.0,Monday,2022-12-12 23:50:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138322,2022-12-12 23:56:00,MP 08: bis - Vrijthof,44.0,None,0.0,23.0,Monday,2022-12-12 23:50:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138323,2022-12-12 23:57:00,MP 08: bis - Vrijthof,43.3,None,0.0,23.0,Monday,2022-12-12 23:50:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138324,2022-12-12 23:58:00,MP 08: bis - Vrijthof,43.0,None,0.0,23.0,Monday,2022-12-12 23:50:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138325,2022-12-12 23:59:00,MP 08: bis - Vrijthof,42.8,None,0.0,23.0,Monday,2022-12-12 23:50:00,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [151]:
merged_df_final.isna().sum()

timestamp                   0
location                    0
noise_level              1965
event                       0
count                       0
hour                        0
day_of_week                 0
timestamp_round             0
timestamp_10min        103745
humidity               103745
temp                   103745
LC_n                   103745
solar_radiation        103745
rain_intensity         103745
daily_rain_sum         103745
wind_dir               103745
wind_speed             103745
Date                   103745
Year                   103745
Month                  103745
Day                    103745
Hour                   103745
Minute                 103745
LC_RAD60               103745
LC_TEMP_QCL0           103745
LC_TEMP_QCL1           103745
LC_TEMP_QCL2           103745
LC_TEMP_QCL3           103745
lat                    103745
lon                    103745
alt                    103745
climate_zone           103745
green_cover            103745
building_height        103745
sky_view_factor        103745
installation_height    103745
dtype: int64

In [150]:
df_clean = merged_df_final[~merged_df_final['timestamp_10min'].isna()]

# Assuming your DataFrame is called 'df' and the datetime column is called 'timestamp'
df_clean['timestamp'] = pd.to_datetime(df_clean['timestamp'])  # Convert the 'timestamp' column to datetime if needed

# Extract the month from the 'timestamp' column
df_clean['month'] = df_clean['timestamp'].dt.month
df_clean.head()

/var/folders/ps/310fvxcx6y55_xvdkg77780h0000gn/T/ipykernel_53534/34641875.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['timestamp'] = pd.to_datetime(df_clean['timestamp'])  # Convert the 'timestamp' column to datetime if needed
/var/folders/ps/310fvxcx6y55_xvdkg77780h0000gn/T/ipykernel_53534/34641875.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['month'] = df_clean['timestamp'].dt.month

,timestamp,location,noise_level,event,count,hour,day_of_week,timestamp_round,timestamp_10min,humidity,...,LC_TEMP_QCL3,lat,lon,alt,climate_zone,green_cover,building_height,sky_view_factor,installation_height,month
8688,2022-07-12 00:00:00,MP 01: Naamsestraat 35 Maxim,68.0,None,0.0,0.0,Tuesday,2022-07-12,2022-07-12,99.0,...,13.337794,50.847,4.756,47.0,9.0,1.0,4.28,0.610367,2.0,7
8689,2022-07-12 00:01:00,MP 01: Naamsestraat 35 Maxim,75.5,None,0.0,0.0,Tuesday,2022-07-12,2022-07-12,99.0,...,13.337794,50.847,4.756,47.0,9.0,1.0,4.28,0.610367,2.0,7
8690,2022-07-12 00:02:00,MP 01: Naamsestraat 35 Maxim,62.8,None,0.0,0.0,Tuesday,2022-07-12,2022-07-12,99.0,...,13.337794,50.847,4.756,47.0,9.0,1.0,4.28,0.610367,2.0,7
8691,2022-07-12 00:03:00,MP 01: Naamsestraat 35 Maxim,59.4,None,0.0,0.0,Tuesday,2022-07-12,2022-07-12,99.0,...,13.337794,50.847,4.756,47.0,9.0,1.0,4.28,0.610367,2.0,7
8692,2022-07-12 00:04:00,MP 01: Naamsestraat 35 Maxim,71.0,None,0.0,0.0,Tuesday,2022-07-12,2022-07-12,99.0,...,13.337794,50.847,4.756,47.0,9.0,1.0,4.28,0.610367,2.0,7

In [152]:
df_clean['event'].unique()

array(['None', 'Transport road - Passenger car', 'Unsupported',
       'Human voice - Shouting', 'Human voice - Singing',
       'Transport road - Siren', 'Music non-amplified',
       'Nature elements - Wind'], dtype=object)

# Model

In [101]:
# load dataset features

# col_to_drop=['timestamp',
#  'MP 01: Naamsestraat 35  Maxim',
#  'MP 02: Naamsestraat 57 Xior',
#  'MP 03: Naamsestraat 62 Taste',
#  'MP 05: Calvariekapel KU Leuven',
#  'MP 06: Parkstraat 2 La Filosovia',
#  'MP 07: Naamsestraat 81',
#  'MP 08: bis - Vrijthof']
# X = merged_df_ready_small.drop(col_to_drop, axis=1)

# # predict noise of just one locaton for now
# y = np.array(merged_df_ready_small['MP 01: Naamsestraat 35  Maxim'])

# X_train, X_test, y_train, y_test = train_test_split(X, y, 
#                                                     test_size=0.2, random_state=42)

In [102]:
# Import the required libraries
# import numpy as np
# import pandas as pd
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import mean_squared_error, r2_score

# # Create a random forest regression model
# regressor = RandomForestRegressor(n_estimators=100, random_state=0)

# # Fit the model
# regressor.fit(X_train, y_train)

# # Make predictions
# y_pred = regressor.predict(X_test)

# # Evaluate the model
# mse = mean_squared_error(y_test, y_pred)
# r2 = r2_score(y_test, y_pred)

# print('Mean Squared Error:', mse)
# print('R-squared:', r2)

In [103]:
# plt.scatter(y_train,regressor.predict(X_train), alpha=0.5)
# plt.xlim([40,80])
# plt.ylim([40,80])
# plt.xlabel('actual')
# plt.ylabel('predicted')

In [104]:
# plt.scatter(y_test, y_pred, alpha=0.5)
# plt.xlim([40,80])
# plt.ylim([40,80])

In [105]:
# # Get the feature importances
# importances = regressor.feature_importances_

# # Create a pandas DataFrame with feature importances
# #df_importances = pd.DataFrame({'feature': range(X.shape[1]), 'importance': importances})

# feature=[i[0]+i[1] for i in X.columns]
# df_importances = pd.DataFrame({'feature': feature, 'importance': importances})


# # Sort the DataFrame by feature importances in descending order
# df_importances = df_importances.sort_values('importance', ascending=False).iloc[:15]

# # Create a bar plot of feature importances
# plt.barh(df_importances['feature'], df_importances['importance'])
# plt.title('Feature Importances')
# plt.xlabel('Feature Index')
# plt.ylabel('Importance')
# plt.show()